In [4]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
engine = create_engine("postgresql+psycopg2://postgres:secret@localhost:5432/pagila")

In [12]:
film = pd.read_sql("select * from film", engine)
film.dtypes

film_id                               int64
title                                object
description                          object
release_year                          int64
language_id                           int64
original_language_id                 object
rental_duration                       int64
rental_rate                         float64
length                                int64
replacement_cost                    float64
rating                               object
last_update             datetime64[ns, UTC]
special_features                     object
fulltext                             object
dtype: object

In [14]:
rental = pd.read_sql("select * from rental limit 20", engine)
rental.dtypes

rental_id                     int64
rental_date     datetime64[ns, UTC]
inventory_id                  int64
customer_id                   int64
return_date     datetime64[ns, UTC]
staff_id                      int64
last_update     datetime64[ns, UTC]
dtype: object

In [17]:
print(film["title"])

0       ACADEMY DINOSAUR
1         ACE GOLDFINGER
2       ADAPTATION HOLES
3       AFFAIR PREJUDICE
4            AFRICAN EGG
             ...
995       YOUNG LANGUAGE
996           YOUTH KICK
997         ZHIVAGO CORE
998    ZOOLANDER FICTION
999            ZORRO ARK
Name: title, Length: 1000, dtype: object